input {
    border-radius: 5px;
    border: 0px;
    margin: 5px;
    padding: 5px 0px;
}

button {
    margin-left: 5px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    padding: 5px 20px;
    font-weight: bold;
}